 <!--Main content Starts-->
 <div class="flex flex-col flex-grow overflow-auto overflow-x-hidden h-screen w-4/4 ">
    <!--Top Navbar-->
    <div class="flex items-center flex-shrink-0 h-16 px-8 bg-white border-b border-gray-300 z-30">
        <h1 class="text-lg font-medium">Page Title</h1>
        <span class="ml-5 relative w-96">
            <input type="search" placeholder="Search here" class="w-full px-2 pl-10">
            <div class="flex absolute left-0 top-0 -bottom-1.5 pl-3 items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                    <!-- <title>search</title> -->
                    <g fill="currentColor" class="nc-icon-wrapper">
                        <path
                            d="M28.933 27.733L24 22.8c1.6-2 2.667-4.667 2.667-7.467 0-6.666-5.334-12-12-12s-12 5.334-12 12c0 6.667 5.333 12 12 12 2.8 0 5.466-.933 7.466-2.666l4.934 4.933c.266.267.666.4.933.4s.667-.133.933-.4a1.289 1.289 0 0 0 0-1.867zm-23.6-12.4c0-5.2 4.134-9.333 9.334-9.333S24 10.133 24 15.333c0 2.534-1.067 4.934-2.667 6.534-1.733 1.733-4 2.666-6.533 2.666-5.333.134-9.467-4-9.467-9.2z"
                            fill="currentColor">

                        </path>
                    </g>
                </svg>
            </div>

        </span>

        <button class="h-10 px-4 ml-auto text-base font-medium rounded hover:bg-gray-300">
            Action 1
        </button>
        <button class="h-10 px-4 ml-2 text-base font-medium bg-gray-200 rounded hover:bg-gray-300">
            Action 2
        </button>

        <button class="relative ml-2 text-base focus:outline-none group">
            <div class="w-10 h-10 rounded-full">
                <img class="rounded-full h-10 w-10" src="assets/img/benjis.jpg">
            </div>
            <div
                class="absolute right-0 flex-col items-start hidden w-40 pb-1 mt-5 bg-white border rounded-lg border-gray-300 shadow-lg group-focus:flex">
                <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Menu Item 1</a>
                <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Menu Item 1</a>
                <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Menu Item 1</a>
            </div>
        </button>

    </div>
    <!--Top Navbar End-->
    <div class="flex-grow py-8 overflow-auto bg-gray-200 px-8">
        <!--Card Stats-->

        <!--recent Applications-->
        <div class="container mx-auto mt-8">
            <div class="py-8">
                <div class="flex justify-between items-center">
                    <h2 class="text-2xl font-semibold leading-tight">Recent Registrants</h2>
                    <span class="ml-5 relative w-96">
                        <input type="search" placeholder="Search here" class="w-full px-2 pl-10">
                        <div class="flex absolute left-0 top-0 -bottom-1.5 pl-3 items-center ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <title>gg-search</title>
                                <g fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M18.319 14.433A8.001 8.001 0 0 0 6.343 3.868a8 8 0 0 0 10.564 11.976l.043.045 4.242 4.243a1 1 0 1 0 1.415-1.415l-4.243-4.242a1.116 1.116 0 0 0-.045-.042zm-2.076-9.15a6 6 0 1 1-8.485 8.485 6 6 0 0 1 8.485-8.485z"
                                        fill="#374151"></path>
                                </g>
                            </svg>
                        </div>

                    </span>
                    <button class="relative ml-2 text-base focus:outline-none group">
                        Filter table by
                        <svg class="h-3 fill-current inline" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20">
                            <path
                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                        <div
                            class="absolute right-0 flex-col items-start hidden w-40 pb-1 mt-5 bg-white border rounded-lg border-gray-300 shadow-lg group-focus:flex">
                            <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Age</a>
                            <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Gender1</a>
                            <a class="w-full px-4 py-2 text-left hover:bg-gray-300" href="#">Academic Level</a>
                        </div>
                    </button>


                </div>

                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto hidden md:block">
                    <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                        Select
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                        Name / Reg ID.
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                        Gender/Age
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                        Phone/Email
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                        Address
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                        Level of Education
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                        Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of usersList">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-base">
                                        <div class="flex items-center">
                                            <input id="" name="gender" type="checkbox" class="">
                                            <label for="" class=" block text-base font-medium text-gray-700">
                                               
                                            </label>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-base">
                                        <div class="flex">
                                            <div class="ml-3">
                                                <p class="text-gray-900 font-bold whitespace-no-wrap">
                                                   {{item.name}}
                                                </p>
                                                <!-- <p class="text-slate-400 whitespace-no-wrap">000004</p> -->
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-base">
                                        <p class="text-gray-900 whitespace-no-wrap">{{item.gender}}</p>
                                        <p class="text-gray-600 whitespace-no-wrap">34 yrs</p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-base">
                                        <p class="text-gray-900 whitespace-no-wrap">{{item.email}}</p>
                                        <p class="text-gray-600 whitespace-no-wrap">{{item.phone}}</p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-base">
                                        <p class="text-gray-900 whitespace-no-wrap">{{item.address}}
                                        </p>
                                        <!-- <p class="text-gray-900 whitespace-no-wrap">Umuahia, Abia</p> -->
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-base">
                                        <span
                                            class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                            <span aria-hidden
                                                class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                            <span class="relative">{{item.levelOfEducation}}</span>
                                        </span>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-base text-right">
                                        <div class="flex gap-4">
                                            <button type="button" class="inline-block text-gray-500">
                                                <svg class="h-6 w-6 fill-current hover:text-indigo-700 "
                                                    viewBox="0 0 24 24">
                                                    <g fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0zm-2 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"
                                                            fill="currentColor"></path>
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M12 3c5.591 0 10.29 3.824 11.622 9-1.332 5.176-6.03 9-11.622 9S1.71 17.176.378 12C1.71 6.824 6.408 3 12 3zm0 16c-4.476 0-8.269-2.942-9.543-7C3.731 7.942 7.524 5 12 5c4.476 0 8.269 2.942 9.543 7-1.274 4.058-5.067 7-9.543 7z"
                                                            fill="currentColor"></path>
                                                    </g>
                                                </svg>
                                            </button>
                                            <button type="button" class="inline-block text-gray-500 " (click)="delete(item)">
                                                <svg class="h-6 w-6 fill-current hover:text-indigo-700"
                                                    viewBox="0 0 24 24">
                                                    <g fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M17 5V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V7h1a1 1 0 1 0 0-2h-3zm-2-1H9v1h6V4zm2 3H7v11a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V7z"
                                                            fill="currentColor"></path>
                                                        <path d="M9 9h2v8H9V9z" fill="currentColor"></path>
                                                        <path d="M13 9h2v8h-2V9z" fill="currentColor"></path>
                                                    </g>
                                                </svg>
                                            </button>
                                            <!-- <button type="button" class="inline-block text-gray-50">
                                                <svg class="h-6 w-6 fill-current hover:text-indigo-500"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M12 6a2 2 0 110-4 2 2 0 010 4zm0 8a2 2 0 110-4 2 2 0 010 4zm-2 6a2 2 0 104 0 2 2 0 00-4 0z" />
                                                </svg>

                                            </button> -->
                                        </div>

                                    </td>
                                </tr>
                             
                            
                              
                               
                            </tbody>
                        </table>
                    </div>
                    <div class="flex justify-center items-center py-8 px-8 text-lg font-bold text-center m-auto mt-5 h-10">
                        <a class="text-slate-400 bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href=""><</a>
                        <a class="w-10 py-1 rounded bg-indigo-600 text-white" href="">1</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">2</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">3</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">4</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">5</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">6</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">7</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">...</a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">>></a>
                        <a class="bg-transparent w-10 py-1 rounded hover:bg-indigo-200" href="">Last</a>
                    </div>
                </div>
            </div>
        </div>
        <!--recent Applications ends-->

    </div>
</div>